@import "tailwindcss";
@plugin "daisyui"{

    themes: light --default;
};


[data-theme="light"] {
  --color-primary: #22c55e;
  --color-secondary: #f97316;
  --color-accent: #eab308;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/font1.otf');
}

@font-face {
  font-family: 'bold';
  src: url('./assets/fonts/bold.woff2');
}
@font-face {
  font-family: 'medium';
  src: url('./assets/fonts/o.woff2');
}

@font-face {
    font-family: "font3";
    src: url('./assets/fonts/font3.woff2');
}

@font-face {
    font-family: "font4";
    src: url('./assets/fonts/font4.woff2');
}

@font-face {
    font-family: "font5";
    src: url('./assets/fonts/font5.woff2');
}
body{
  overflow-x: hidden;
}
